{
    "openapi": "3.0.3",
    "externalDocs": {
        "url": "https://docs.castle.io/docs/",
        "description": "Check out the Castle docs for more in-depth guides"
    },
    "info": {
        "version": "1",
        "title": "Castle API",
        "termsOfService": "https://castle.io/terms",
        "x-logo": {
            "url": "https://reference.castle.io/assets/img/castle-logo-sidebar.png",
            "altText": "Castle Logo"
        },
        "description": "## Introduction\n\n**Just getting started? Check out our [quick start guide](https://docs.castle.io/docs/quickstart)**\n\nCastle APIs uses standard HTTP response codes, authentication and verbs. JSON is used as data exchange format, both for parsing incoming request bodies, and in the returned response. This means that the `Content-Type` header should to be set to `application/json` in requests with a body, such as `POST` or `PUT`.\n\nAll API requests must be made over [HTTPS](http://en.wikipedia.org/wiki/HTTP_Secure). Non-HTTPS calls will fail and the **TLS version needs to be 1.1 or higher**.\n\n## Supported types\n\nFor a list of supported types, see our [Types Reference](https://docs.castle.io/docs/events).\n\n## Rate limits\n\nOur APIs implement rate-limiting based on the number of requests made to them. Each request will return the following headers:\n\n- `X-RateLimit-Limit` - The maximum number of requests you're permitted to make in the current time window.\n- `X-RateLimit-Remaining` - The number of requests remaining in the current time window.\n- `X-RateLimit-Reset` - The remaining time in seconds until the current time window resets.\n\nAdditionally, Our Risk, Log (and the legacy Authenticate) APIs have a per-user-id rate limit of 6 requests per second and 10 requests per 5 seconds.\n"
    },
    "tags": [
        {
            "name": "risk_assessment",
            "x-displayName": "Risk Assessment",
            "description": "Castle Risk Assessment APIs will calculate a risk score as well as evaluate policies based on the provided payload.\nThe result can then be used to take the appropriate action, such as blocking the request or put the user through additional verification.\n\nAdditionally, the result will be logged together with the provided payload so it can be viewed and searched in the Castle Dashboard.\n"
        },
        {
            "name": "logging",
            "x-displayName": "Logging",
            "description": "Log important user events without invoking or returning the Castle risk score. These events will viewable and searchable in the Castle Dashboard. Having access to a detailed log of actions can provide crucial information eg. in a fraud investigation case.\n"
        },
        {
            "name": "events",
            "x-displayName": "Events",
            "description": "Castle Events APIs allow you to query and aggregate Events that have been sent to the Castle [Risk Assessment APIs](#tag/risk_assessment).\n\n**These APIs are currently in beta and available only to select customers**. They are also subject to change.\nIf you are interested in using these APIs, please contact us at [support@castle.io](mailto:support@castle.io).\n\nPlease visit our [documentation page](https://docs.castle.io/docs/enterprise-using-events-api) to get a broader description of this suite of APIs.\n"
        },
        {
            "name": "privacy",
            "x-displayName": "Privacy",
            "description": "APIs intended to help adhere to GDPR Compliance and specifically assist in supporting Article 15: Right of access by the data subject and Article 17: Right to be forgotten.\n"
        },
        {
            "name": "lists",
            "x-displayName": "Lists",
            "description": "Lists represents a generic collection of items, such as Users, IPs, Transactions or any custom property. Lists helps you organize and collaborate cross team members and when used together with policies, they can effectively act as allow- or denylists.\n\n\nRead more about lists [here](https://docs.castle.io/docs/lists).\n"
        },
        {
            "name": "list_items",
            "x-displayName": "List Items",
            "description": "List Items represents entries in a List. Each value will correspond to the field definition in the associated List.\n"
        }
    ],
    "x-tagGroups": [
        {
            "name": "Event",
            "tags": [
                "risk_assessment",
                "logging"
            ]
        },
        {
            "name": "Lists",
            "tags": [
                "lists",
                "list_items"
            ]
        },
        {
            "name": "Beta",
            "tags": [
                "events"
            ]
        },
        {
            "name": "Privacy",
            "tags": [
                "privacy"
            ]
        }
    ],
    "servers": [
        {
            "url": "https://api.castle.io/v1",
            "description": "Official Castle API domain"
        }
    ],
    "security": [
        {
            "Basic": [
                "secret"
            ]
        }
    ],
    "paths": {
        "/risk": {
            "post": {
                "summary": "Risk",
                "description": "Used to request a risk evaluation from Castle's API. The most obvious use of this is for login requests, where the API can indicate malicious and questionable circumstances. Read more in the [Prevent Account Takeovers](https://docs.castle.io/docs/automate-account-recovery) section. See the [List of Recognized Events](https://docs.castle.io/docs/events) for supported events.\n",
                "operationId": "risk",
                "tags": [
                    "risk_assessment"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Risk"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Castle Event Context",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FilterAndRiskResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "422": {
                        "$ref": "#/components/responses/UnprocessableEntity"
                    },
                    "429": {
                        "$ref": "#/components/responses/TooManyRequests"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    }
                },
                "x-codeSamples": [
                    {
                        "lang": "Shell + Curl",
                        "source": "curl --request POST \\\n  --url https://api.castle.io/v1/risk \\\n  --header 'Authorization: Basic REPLACE_BASIC_AUTH' \\\n  --header 'content-type: application/json' \\\n  --data '{\"context\":{\"headers\":[[\"User-Agent\",\"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/14.1.1 Safari/605.1.15\"],[\"Accept-Encoding\",\"gzip, deflate, br\"],[\"Accept-Language\",\"en-us\"],[\"Accept\",\"text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8\"],[\"Connection\",\"close\"],[\"Host\",\"castle.io\"]],\"ip\":\"211.96.77.55\"},\"properties\":{\"property1\":{},\"property2\":{}},\"product\":{\"id\":\"string\"},\"session\":{\"id\":\"string\",\"created_at\":\"2019-08-24T14:15:22Z\"},\"created_at\":\"2019-08-24T14:15:22Z\",\"request_token\":\"test_lZWva9rsNe3u0_EIc6R8V3t5beV38piPAQbhgREGygYCAo2FRSv1tAQ4-cb6ArKHOWK_zG18hO1uZ8K0LDbNqU9njuhscoLyaj3NyGxyiO0iS4ziIkm-oVom3LEsN9i6InSbuzo-w7ErJqrkYW2CrjA23LEyN92wIkCE82dggvktPtWvMmrl42Bj2uM7Zdn2AQGXC6qGTIECRlwaAgZcgcAGeX4\",\"user\":{\"id\":\"string\",\"email\":\"пошта@укр.нет\",\"phone\":\"string\",\"registered_at\":\"2019-08-24T14:15:22Z\",\"name\":\"string\",\"traits\":{},\"address\":{\"line1\":\"60 Rausch Street\",\"line2\":\"string\",\"city\":\"San Francisco\",\"country_code\":\"US\",\"region_code\":\"CA\",\"postal_code\":\"94103\",\"fingerprint\":\"8a33j2lir9\"}},\"skip_request_token_validation\":false,\"skip_context_validation\":false,\"expand\":[\"all\"],\"type\":\"$challenge\",\"status\":\"$requested\",\"authentication_method\":{\"type\":\"$social\",\"variant\":\"facebook\"}}'"
                    }
                ]
            }
        },
        "/filter": {
            "post": {
                "summary": "Filter",
                "description": "Used to block bots and bad traffic early in the request chain, typically at registration. Read more in the [Protecting the Login](https://docs.castle.io/docs/login-activity) section. See the [List of Recognized Events](https://docs.castle.io/docs/events) for supported events.\n\n**At minimum the `User-Agent` key is required in the `headers` object.**\n",
                "operationId": "filter",
                "tags": [
                    "risk_assessment"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Filter"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Castle Event Context",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FilterAndRiskResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "422": {
                        "$ref": "#/components/responses/UnprocessableEntity"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    }
                },
                "x-codeSamples": [
                    {
                        "lang": "Shell + Curl",
                        "source": "curl --request POST \\\n  --url https://api.castle.io/v1/filter \\\n  --header 'Authorization: Basic REPLACE_BASIC_AUTH' \\\n  --header 'content-type: application/json' \\\n  --data '{\"context\":{\"headers\":[[\"User-Agent\",\"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/14.1.1 Safari/605.1.15\"],[\"Accept-Encoding\",\"gzip, deflate, br\"],[\"Accept-Language\",\"en-us\"],[\"Accept\",\"text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8\"],[\"Connection\",\"close\"],[\"Host\",\"castle.io\"]],\"ip\":\"211.96.77.55\"},\"properties\":{\"property1\":{},\"property2\":{}},\"product\":{\"id\":\"string\"},\"session\":{\"id\":\"string\",\"created_at\":\"2019-08-24T14:15:22Z\"},\"created_at\":\"2019-08-24T14:15:22Z\",\"request_token\":\"test_lZWva9rsNe3u0_EIc6R8V3t5beV38piPAQbhgREGygYCAo2FRSv1tAQ4-cb6ArKHOWK_zG18hO1uZ8K0LDbNqU9njuhscoLyaj3NyGxyiO0iS4ziIkm-oVom3LEsN9i6InSbuzo-w7ErJqrkYW2CrjA23LEyN92wIkCE82dggvktPtWvMmrl42Bj2uM7Zdn2AQGXC6qGTIECRlwaAgZcgcAGeX4\",\"user\":{\"email\":\"Rhea.Franecki@example.org\",\"phone\":\"+16175551212\"},\"params\":{\"email\":\"Rhea.Franecki@example.org\",\"phone\":\"+16175551212\",\"username\":\"superhero123\"},\"matching_user_id\":\"123\",\"skip_request_token_validation\":false,\"skip_context_validation\":false,\"expand\":[\"all\"],\"type\":\"$registration\",\"status\":\"$attempted\",\"authentication_method\":{\"type\":\"$social\",\"variant\":\"facebook\"}}'"
                    }
                ]
            }
        },
        "/log": {
            "post": {
                "summary": "Log",
                "description": "Logs a user action. This endpoint doesn’t provide a response body and is designed for use in a non-blocking manner.\n",
                "operationId": "log",
                "tags": [
                    "logging"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Log"
                            }
                        }
                    }
                },
                "responses": {
                    "204": {
                        "description": "Provides no response body"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "422": {
                        "$ref": "#/components/responses/UnprocessableEntity"
                    },
                    "429": {
                        "$ref": "#/components/responses/TooManyRequests"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    }
                },
                "x-codeSamples": [
                    {
                        "lang": "Shell + Curl",
                        "source": "curl --request POST \\\n  --url https://api.castle.io/v1/log \\\n  --header 'Authorization: Basic REPLACE_BASIC_AUTH' \\\n  --header 'content-type: application/json' \\\n  --data '{\"context\":{\"headers\":[[\"User-Agent\",\"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/14.1.1 Safari/605.1.15\"],[\"Accept-Encoding\",\"gzip, deflate, br\"],[\"Accept-Language\",\"en-us\"],[\"Accept\",\"text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8\"],[\"Connection\",\"close\"],[\"Host\",\"castle.io\"]],\"ip\":\"211.96.77.55\"},\"properties\":{\"property1\":{},\"property2\":{}},\"product\":{\"id\":\"string\"},\"session\":{\"id\":\"string\",\"created_at\":\"2019-08-24T14:15:22Z\"},\"created_at\":\"2019-08-24T14:15:22Z\",\"request_token\":\"test_lZWva9rsNe3u0_EIc6R8V3t5beV38piPAQbhgREGygYCAo2FRSv1tAQ4-cb6ArKHOWK_zG18hO1uZ8K0LDbNqU9njuhscoLyaj3NyGxyiO0iS4ziIkm-oVom3LEsN9i6InSbuzo-w7ErJqrkYW2CrjA23LEyN92wIkCE82dggvktPtWvMmrl42Bj2uM7Zdn2AQGXC6qGTIECRlwaAgZcgcAGeX4\",\"user\":{\"id\":\"78184d37-a8a0-4f61-a05a-9a8ed85b1e43\"},\"type\":\"$challenge\",\"status\":\"$requested\",\"authentication_method\":{\"type\":\"$social\",\"variant\":\"facebook\"}}'"
                    }
                ]
            }
        },
        "/lists": {
            "post": {
                "summary": "Create a new List",
                "operationId": "createList",
                "x-rate-limit": {
                    "limit": 10,
                    "period_in_seconds": 1
                },
                "tags": [
                    "lists"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ListRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Returns the newly created List",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/List"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "422": {
                        "$ref": "#/components/responses/UnprocessableEntity"
                    },
                    "429": {
                        "$ref": "#/components/responses/TooManyRequests"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    }
                },
                "x-codeSamples": [
                    {
                        "lang": "Shell + Curl",
                        "source": "curl --request POST \\\n  --url https://api.castle.io/v1/lists \\\n  --header 'Authorization: Basic REPLACE_BASIC_AUTH' \\\n  --header 'content-type: application/json' \\\n  --data '{\"name\":\"Malicious IPs\",\"description\":\"We block these IPs from withdrawing funds. Please be careful.\",\"color\":\"$red\",\"default_item_archivation_time\":2592000,\"primary_field\":\"device.fingerprint\",\"secondary_field\":\"ip.value\"}'"
                    }
                ]
            },
            "get": {
                "summary": "List all Lists",
                "operationId": "getLists",
                "x-rate-limit": {
                    "limit": 100,
                    "period_in_seconds": 1
                },
                "tags": [
                    "lists"
                ],
                "responses": {
                    "200": {
                        "description": "Returns all active Lists",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ListList"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "429": {
                        "$ref": "#/components/responses/TooManyRequests"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    }
                },
                "x-codeSamples": [
                    {
                        "lang": "Shell + Curl",
                        "source": "curl --request GET \\\n  --url https://api.castle.io/v1/lists \\\n  --header 'Authorization: Basic REPLACE_BASIC_AUTH'"
                    }
                ]
            }
        },
        "/lists/{id}": {
            "put": {
                "summary": "Update a List",
                "operationId": "updateList",
                "x-rate-limit": {
                    "limit": 10,
                    "period_in_seconds": 1
                },
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of the List",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "e6baae3a-0636-441a-ba4f-c73f266c7a17"
                    }
                ],
                "tags": [
                    "lists"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateListRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Returns the updated List",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/List"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "422": {
                        "$ref": "#/components/responses/UnprocessableEntity"
                    },
                    "429": {
                        "$ref": "#/components/responses/TooManyRequests"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    }
                },
                "x-codeSamples": [
                    {
                        "lang": "Shell + Curl",
                        "source": "curl --request PUT \\\n  --url https://api.castle.io/v1/lists/e6baae3a-0636-441a-ba4f-c73f266c7a17 \\\n  --header 'Authorization: Basic REPLACE_BASIC_AUTH' \\\n  --header 'content-type: application/json' \\\n  --data '{\"name\":\"Malicious IPs\",\"description\":\"We block these IPs from withdrawing funds. Please be careful.\",\"color\":\"$red\",\"default_item_archivation_time\":2592000}'"
                    }
                ]
            },
            "get": {
                "summary": "Return a List by ID",
                "operationId": "getList",
                "x-rate-limit": {
                    "limit": 100,
                    "period_in_seconds": 1
                },
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of the List",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "e6baae3a-0636-441a-ba4f-c73f266c7a17"
                    }
                ],
                "tags": [
                    "lists"
                ],
                "responses": {
                    "200": {
                        "description": "Returns the List",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ListList"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "429": {
                        "$ref": "#/components/responses/TooManyRequests"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    }
                },
                "x-codeSamples": [
                    {
                        "lang": "Shell + Curl",
                        "source": "curl --request GET \\\n  --url https://api.castle.io/v1/lists/e6baae3a-0636-441a-ba4f-c73f266c7a17 \\\n  --header 'Authorization: Basic REPLACE_BASIC_AUTH'"
                    }
                ]
            },
            "delete": {
                "summary": "Delete List",
                "operationId": "deleteList",
                "x-rate-limit": {
                    "limit": 10,
                    "period_in_seconds": 1
                },
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of the List",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "e6baae3a-0636-441a-ba4f-c73f266c7a17"
                    }
                ],
                "tags": [
                    "lists"
                ],
                "responses": {
                    "204": {
                        "description": "Provides no response body"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "429": {
                        "$ref": "#/components/responses/TooManyRequests"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    }
                },
                "x-codeSamples": [
                    {
                        "lang": "Shell + Curl",
                        "source": "curl --request DELETE \\\n  --url https://api.castle.io/v1/lists/e6baae3a-0636-441a-ba4f-c73f266c7a17 \\\n  --header 'Authorization: Basic REPLACE_BASIC_AUTH'"
                    }
                ]
            }
        },
        "/lists/query": {
            "post": {
                "summary": "Search Lists",
                "operationId": "queryLists",
                "x-rate-limit": {
                    "limit": 30,
                    "period_in_seconds": 1
                },
                "tags": [
                    "lists"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ListQuery"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Returns a list of all the Lists matching the query",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ListQueryResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "422": {
                        "$ref": "#/components/responses/UnprocessableEntity"
                    },
                    "429": {
                        "$ref": "#/components/responses/TooManyRequests"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    }
                },
                "x-codeSamples": [
                    {
                        "lang": "Shell + Curl",
                        "source": "curl --request POST \\\n  --url https://api.castle.io/v1/lists/query \\\n  --header 'Authorization: Basic REPLACE_BASIC_AUTH' \\\n  --header 'content-type: application/json' \\\n  --data '{\"filters\":[{\"field\":\"primary_field\",\"op\":\"$eq\",\"value\":\"device.fingerprint\"},{\"field\":\"archived\",\"op\":\"$eq\",\"value\":false},{\"op\":\"$or\",\"value\":[{\"field\":\"secondary_field\",\"op\":\"$eq\",\"value\":\"user.id\"}]},{\"op\":\"$or\",\"value\":[{\"field\":\"secondary_field\",\"op\":\"$eq\",\"value\":\"user.email\"}]}],\"page\":2,\"results_size\":50,\"include_size_label\":true,\"sort\":{\"field\":\"created_at\",\"order\":\"asc\"}}'"
                    }
                ]
            }
        },
        "/lists/{list_id}/items": {
            "post": {
                "summary": "Create a new List Item",
                "parameters": [
                    {
                        "name": "list_id",
                        "in": "path",
                        "description": "ID of the List",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "e6baae3a-0636-441a-ba4f-c73f266c7a17"
                    }
                ],
                "operationId": "createListItem",
                "x-rate-limit": {
                    "limit": 60,
                    "period_in_seconds": 1
                },
                "tags": [
                    "list_items"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ListItemRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Returns the newly created List Item",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ListItem"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "422": {
                        "$ref": "#/components/responses/UnprocessableEntity"
                    },
                    "429": {
                        "$ref": "#/components/responses/TooManyRequests"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    }
                },
                "x-codeSamples": [
                    {
                        "lang": "Shell + Curl",
                        "source": "curl --request POST \\\n  --url https://api.castle.io/v1/lists/e6baae3a-0636-441a-ba4f-c73f266c7a17/items \\\n  --header 'Authorization: Basic REPLACE_BASIC_AUTH' \\\n  --header 'content-type: application/json' \\\n  --data '{\"primary_value\":\"A04t7AcfSA69cBTTusx0RQ\",\"secondary_value\":\"2ee938c8-24c2-4c26-9d25-19511dd75029\",\"comment\":\"Fradulent user found through manual inspection\",\"author\":{\"type\":\"$analyst_email\",\"identifier\":\"string\"},\"auto_archives_at\":\"2021-09-27T16:46:38.313Z\",\"mode\":\"$error\"}'"
                    }
                ]
            }
        },
        "/lists/{list_id}/items/query": {
            "post": {
                "summary": "Search List Items",
                "parameters": [
                    {
                        "name": "list_id",
                        "in": "path",
                        "description": "ID of the List",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "e6baae3a-0636-441a-ba4f-c73f266c7a17"
                    }
                ],
                "operationId": "queryListItems",
                "x-rate-limit": {
                    "limit": 30,
                    "period_in_seconds": 1
                },
                "tags": [
                    "list_items"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ListItemQuery"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Returns a list of all the List Items matching the query",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ListItemList"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "422": {
                        "$ref": "#/components/responses/UnprocessableEntity"
                    },
                    "429": {
                        "$ref": "#/components/responses/TooManyRequests"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    }
                },
                "x-codeSamples": [
                    {
                        "lang": "Shell + Curl",
                        "source": "curl --request POST \\\n  --url https://api.castle.io/v1/lists/e6baae3a-0636-441a-ba4f-c73f266c7a17/items/query \\\n  --header 'Authorization: Basic REPLACE_BASIC_AUTH' \\\n  --header 'content-type: application/json' \\\n  --data '{\"page\":2,\"results_size\":50,\"sort\":{\"field\":\"created_at\",\"order\":\"asc\"},\"filters\":[{\"field\":\"archived\",\"op\":\"$eq\",\"value\":true}]}'"
                    }
                ]
            }
        },
        "/lists/{list_id}/items/{id}": {
            "put": {
                "summary": "Update a List Item",
                "operationId": "updateListItem",
                "x-rate-limit": {
                    "limit": 60,
                    "period_in_seconds": 1
                },
                "parameters": [
                    {
                        "name": "list_id",
                        "in": "path",
                        "description": "ID of the List",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "e6baae3a-0636-441a-ba4f-c73f266c7a17"
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of the List Item",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "e6baae3a-0636-441a-ba4f-c73f266c7a17"
                    }
                ],
                "tags": [
                    "list_items"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateListItemRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Returns the updated List Item",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ListItem"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "422": {
                        "$ref": "#/components/responses/UnprocessableEntity"
                    },
                    "429": {
                        "$ref": "#/components/responses/TooManyRequests"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    }
                },
                "x-codeSamples": [
                    {
                        "lang": "Shell + Curl",
                        "source": "curl --request PUT \\\n  --url https://api.castle.io/v1/lists/e6baae3a-0636-441a-ba4f-c73f266c7a17/items/e6baae3a-0636-441a-ba4f-c73f266c7a17 \\\n  --header 'Authorization: Basic REPLACE_BASIC_AUTH' \\\n  --header 'content-type: application/json' \\\n  --data '{\"comment\":\"Listed due to manual investigation\"}'"
                    }
                ]
            },
            "get": {
                "summary": "Fetch a List Item by ID",
                "parameters": [
                    {
                        "name": "list_id",
                        "in": "path",
                        "description": "ID of the List",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "e6baae3a-0636-441a-ba4f-c73f266c7a17"
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of the List Item",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "e6baae3a-0636-441a-ba4f-c73f266c7a17"
                    }
                ],
                "operationId": "getListItem",
                "x-rate-limit": {
                    "limit": 100,
                    "period_in_seconds": 1
                },
                "tags": [
                    "list_items"
                ],
                "responses": {
                    "200": {
                        "description": "Returns the matching List Item",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ListItem"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "429": {
                        "$ref": "#/components/responses/TooManyRequests"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    }
                },
                "x-codeSamples": [
                    {
                        "lang": "Shell + Curl",
                        "source": "curl --request GET \\\n  --url https://api.castle.io/v1/lists/e6baae3a-0636-441a-ba4f-c73f266c7a17/items/e6baae3a-0636-441a-ba4f-c73f266c7a17 \\\n  --header 'Authorization: Basic REPLACE_BASIC_AUTH'"
                    }
                ]
            }
        },
        "/lists/{list_id}/items/{id}/archive": {
            "delete": {
                "summary": "Archive a List Item",
                "description": "Archives a List Item",
                "parameters": [
                    {
                        "name": "list_id",
                        "in": "path",
                        "description": "ID of the List",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "e6baae3a-0636-441a-ba4f-c73f266c7a17"
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of the List Item",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "e6baae3a-0636-441a-ba4f-c73f266c7a17"
                    }
                ],
                "operationId": "archiveListItem",
                "x-rate-limit": {
                    "limit": 30,
                    "period_in_seconds": 1
                },
                "tags": [
                    "list_items"
                ],
                "responses": {
                    "204": {
                        "description": "Provides no response body"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "409": {
                        "$ref": "#/components/responses/Conflict"
                    },
                    "429": {
                        "$ref": "#/components/responses/TooManyRequests"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    }
                },
                "x-codeSamples": [
                    {
                        "lang": "Shell + Curl",
                        "source": "curl --request DELETE \\\n  --url https://api.castle.io/v1/lists/e6baae3a-0636-441a-ba4f-c73f266c7a17/items/e6baae3a-0636-441a-ba4f-c73f266c7a17/archive \\\n  --header 'Authorization: Basic REPLACE_BASIC_AUTH'"
                    }
                ]
            }
        },
        "/lists/{list_id}/items/{id}/unarchive": {
            "put": {
                "summary": "Unarchive a List Item",
                "description": "Unarchives a List Item",
                "parameters": [
                    {
                        "name": "list_id",
                        "in": "path",
                        "description": "ID of the List",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "e6baae3a-0636-441a-ba4f-c73f266c7a17"
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of the List Item",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "e6baae3a-0636-441a-ba4f-c73f266c7a17"
                    }
                ],
                "operationId": "unarchiveListItem",
                "x-rate-limit": {
                    "limit": 30,
                    "period_in_seconds": 1
                },
                "tags": [
                    "list_items"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UnarchiveListItemRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "204": {
                        "description": "Provides no response body"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "409": {
                        "$ref": "#/components/responses/Conflict"
                    },
                    "422": {
                        "$ref": "#/components/responses/UnprocessableEntity"
                    },
                    "429": {
                        "$ref": "#/components/responses/TooManyRequests"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    }
                },
                "x-codeSamples": [
                    {
                        "lang": "Shell + Curl",
                        "source": "curl --request PUT \\\n  --url https://api.castle.io/v1/lists/e6baae3a-0636-441a-ba4f-c73f266c7a17/items/e6baae3a-0636-441a-ba4f-c73f266c7a17/unarchive \\\n  --header 'Authorization: Basic REPLACE_BASIC_AUTH' \\\n  --header 'content-type: application/json' \\\n  --data '{\"auto_archives_at\":\"2021-09-27T16:46:38.313Z\"}'"
                    }
                ]
            }
        },
        "/privacy/users/{id}": {
            "parameters": [
                {
                    "name": "id",
                    "in": "path",
                    "description": "ID of the user",
                    "required": true,
                    "schema": {
                        "type": "string"
                    },
                    "example": "e6baae3a-0636-441a-ba4f-c73f266c7a17"
                }
            ],
            "post": {
                "summary": "Request User Data",
                "description": "GDPR introduced [Article 15: Right of access by the data subject](https://gdpr-info.eu/art-15-gdpr/). This states that users have the right to request access to the data held on them. If you receive this request from your user, you may also need to forward the request to your vendors, such as Castle, so that the vendor can provide data related to this user as well.\nThis API endpoint is designed to be used for these User Data Access Requests.\n\n### **Important**: before you call this API you first need to [configure your company's privacy email](https://docs.castle.io/docs/gdpr-compliance#user-data-access-requests).\n\nWhen calling this endpoint, Castle will compile records pertaining to the associated user. When the data compilation is completed, an email containing a data download link will be sent to the configured privacy email address.\n",
                "operationId": "getUserPrivacyDeprecated",
                "deprecated": true,
                "tags": [
                    "privacy"
                ],
                "responses": {
                    "202": {
                        "$ref": "#/components/responses/Accepted"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    }
                },
                "x-codeSamples": [
                    {
                        "lang": "Shell + Curl",
                        "source": "curl --request POST \\\n  --url https://api.castle.io/v1/privacy/users/e6baae3a-0636-441a-ba4f-c73f266c7a17 \\\n  --header 'Authorization: Basic REPLACE_BASIC_AUTH'"
                    }
                ]
            },
            "delete": {
                "summary": "Delete User Data",
                "description": "GDPR introduced [Article 17: Right to be forgotten](https://gdpr-info.eu/art-17-gdpr/). This states that users have the right to request that all the data held on them be permanently purged. If you receive this request from your user, you may also need to forward the request to your vendors, such as Castle, so that the vendor can purge that user’s data too.\nThis API endpoint is designed to be used for these User Data Purge Requests. A call to this endpoint will permanently delete the user and their data from our systems.\n",
                "operationId": "deleteUserPrivacyDeprecated",
                "deprecated": true,
                "tags": [
                    "privacy"
                ],
                "responses": {
                    "202": {
                        "$ref": "#/components/responses/Accepted"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    }
                },
                "x-codeSamples": [
                    {
                        "lang": "Shell + Curl",
                        "source": "curl --request DELETE \\\n  --url https://api.castle.io/v1/privacy/users/e6baae3a-0636-441a-ba4f-c73f266c7a17 \\\n  --header 'Authorization: Basic REPLACE_BASIC_AUTH'"
                    }
                ]
            }
        },
        "/privacy/users": {
            "post": {
                "summary": "Request User Data",
                "description": "GDPR introduced [Article 15: Right of access by the data subject](https://gdpr-info.eu/art-15-gdpr/). This states that users have the right to request access to the data held on them. If you receive this request from your user, you may also need to forward the request to your vendors, such as Castle, so that the vendor can provide data related to this user as well.\nThis API endpoint is designed to be used for these User Data Access Requests.\n\n### **Important**: before you call this API you first need to [configure your company's privacy email](https://docs.castle.io/docs/gdpr-compliance#user-data-access-requests).\n\nWhen calling this endpoint, Castle will compile records pertaining to the associated user. When the data compilation is completed, an email containing a data download link will be sent to the configured privacy email address.\n",
                "operationId": "getUserPrivacy",
                "tags": [
                    "privacy"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PrivacyRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "202": {
                        "$ref": "#/components/responses/Accepted"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    }
                },
                "x-codeSamples": [
                    {
                        "lang": "Shell + Curl",
                        "source": "curl --request POST \\\n  --url https://api.castle.io/v1/privacy/users \\\n  --header 'Authorization: Basic REPLACE_BASIC_AUTH' \\\n  --header 'content-type: application/json' \\\n  --data '{\"identifier\":\"Rhea.Franecki@example.org\",\"identifier_type\":\"$email\"}'"
                    }
                ]
            },
            "delete": {
                "summary": "Delete User Data",
                "description": "GDPR introduced [Article 17: Right to be forgotten](https://gdpr-info.eu/art-17-gdpr/). This states that users have the right to request that all the data held on them be permanently purged. If you receive this request from your user, you may also need to forward the request to your vendors, such as Castle, so that the vendor can purge that user’s data too.\nThis API endpoint is designed to be used for these User Data Purge Requests. A call to this endpoint will permanently delete the user and their data from our systems.\n",
                "operationId": "deleteUserPrivacy",
                "tags": [
                    "privacy"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PrivacyRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "202": {
                        "$ref": "#/components/responses/Accepted"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    }
                },
                "x-codeSamples": [
                    {
                        "lang": "Shell + Curl",
                        "source": "curl --request DELETE \\\n  --url https://api.castle.io/v1/privacy/users \\\n  --header 'Authorization: Basic REPLACE_BASIC_AUTH' \\\n  --header 'content-type: application/json' \\\n  --data '{\"identifier\":\"Rhea.Franecki@example.org\",\"identifier_type\":\"$email\"}'"
                    }
                ]
            }
        },
        "/events/query": {
            "post": {
                "summary": "Search Events",
                "servers": [
                    {
                        "url": "https://beta.castle.io/v1"
                    }
                ],
                "description": "Search for events\n",
                "operationId": "queryEvents",
                "x-semaphore": {
                    "limit": 5,
                    "host": "beta.castle.io",
                    "id": "events-api"
                },
                "tags": [
                    "events"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Query"
                            }
                        },
                        "text/csv": {
                            "schema": {
                                "$ref": "#/components/schemas/Query"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Returns the events that match the search criteria",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Events"
                                }
                            },
                            "text/csv": {
                                "schema": {
                                    "$ref": "#/components/schemas/Events"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "422": {
                        "$ref": "#/components/responses/UnprocessableEntity"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    }
                },
                "x-codeSamples": [
                    {
                        "lang": "Shell + Curl",
                        "source": "curl --request POST \\\n  --url https://beta.castle.io/v1/events/query \\\n  --header 'Authorization: Basic REPLACE_BASIC_AUTH' \\\n  --header 'content-type: text/csv' \\\n  --data '{\"filters\":[{\"field\":\"string\",\"op\":\"$eq\",\"value\":\"Rhea\"}],\"query_type\":\"$count\",\"page\":1,\"aggregations\":[{\"name\":\"Critical Events per IP in 1h\",\"description\":\"Maximum Account TakeOver score seen per IP in the last day.\",\"interval\":86400,\"group_by\":{\"fields\":[{\"field\":\"ip.address\"}]},\"filters\":[{\"field\":\"string\",\"op\":\"$eq\",\"value\":\"Rhea\"}],\"value\":{\"field\":\"scores.account_takeover.score\"},\"aggregation_type\":\"$avg\",\"metadata\":{\"whodunnit\":\"string\",\"whodunnit_type\":\"$analyst_email\",\"property1\":\"string\",\"property2\":\"string\"}}],\"columns\":[\"string\"],\"results_size\":1}'"
                    }
                ]
            }
        },
        "/events/schema": {
            "get": {
                "summary": "Get Events Schema",
                "servers": [
                    {
                        "url": "https://beta.castle.io/v1"
                    }
                ],
                "description": "Get schema for the Event object. Returns all fields with their respective descriptions, types and allowed funcs and operations.\n",
                "operationId": "getEventSchema",
                "tags": [
                    "events"
                ],
                "responses": {
                    "200": {
                        "description": "Returns the list of fields and buckets data to be used when requesting v1/events/query or v1/events/count",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SearchSchema"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    }
                },
                "x-codeSamples": [
                    {
                        "lang": "Shell + Curl",
                        "source": "curl --request GET \\\n  --url https://beta.castle.io/v1/events/schema \\\n  --header 'Authorization: Basic REPLACE_BASIC_AUTH'"
                    }
                ]
            }
        },
        "/events/group": {
            "post": {
                "summary": "Group Events",
                "servers": [
                    {
                        "url": "https://beta.castle.io/v1"
                    }
                ],
                "description": "Aggregate on events\n",
                "operationId": "groupEvents",
                "x-semaphore": {
                    "limit": 5,
                    "host": "beta.castle.io",
                    "id": "events-api"
                },
                "tags": [
                    "events"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/GroupQuery"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Returns the aggregation filtered by the filtered query",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "description": "Results set of what the request query is. Includes group columns and all columns from the request",
                                    "required": [
                                        "total_count",
                                        "data"
                                    ],
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "object"
                                            },
                                            "example": [
                                                {
                                                    "user.id": "castle_user",
                                                    "Max Risk": 0.111,
                                                    "email": "test@test.com"
                                                },
                                                {
                                                    "user.id": "castle_user1",
                                                    "Max Risk": 0.411,
                                                    "email": "test1@test.com"
                                                },
                                                {
                                                    "user.id": "castle_user2",
                                                    "Max Risk": 0.611,
                                                    "email": "test2@test.com"
                                                },
                                                {
                                                    "user.id": "castle_user3",
                                                    "Max Risk": 0.931,
                                                    "email": "test3@test.com"
                                                },
                                                {
                                                    "user.id": "castle_user4",
                                                    "Max Risk": 0.913,
                                                    "email": "test4@test.com"
                                                }
                                            ]
                                        },
                                        "total_count": {
                                            "type": "integer",
                                            "minimum": 0,
                                            "example": 1
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "422": {
                        "$ref": "#/components/responses/UnprocessableEntity"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    }
                },
                "x-codeSamples": [
                    {
                        "lang": "Shell + Curl",
                        "source": "curl --request POST \\\n  --url https://beta.castle.io/v1/events/group \\\n  --header 'Authorization: Basic REPLACE_BASIC_AUTH' \\\n  --header 'content-type: application/json' \\\n  --data '{\"filters\":[{\"field\":\"string\",\"op\":\"$eq\",\"value\":\"Rhea\"}],\"query_type\":\"$count\",\"page\":1,\"aggregations\":[{\"name\":\"Critical Events per IP in 1h\",\"description\":\"Maximum Account TakeOver score seen per IP in the last day.\",\"interval\":86400,\"group_by\":{\"fields\":[{\"field\":\"ip.address\"}]},\"filters\":[{\"field\":\"string\",\"op\":\"$eq\",\"value\":\"Rhea\"}],\"value\":{\"field\":\"scores.account_takeover.score\"},\"aggregation_type\":\"$avg\",\"metadata\":{\"whodunnit\":\"string\",\"whodunnit_type\":\"$analyst_email\",\"property1\":\"string\",\"property2\":\"string\"}}],\"group_by\":{\"fields\":[{\"field\":\"string\",\"transform\":{\"transform\":\"$to_start_of_interval\",\"options\":{}}}],\"filters\":[{\"field\":\"string\",\"op\":\"$eq\",\"value\":\"Rhea\"}]},\"columns\":[{\"field\":\"string\",\"transform\":{\"transform\":\"$to_start_of_interval\",\"options\":{}},\"name\":\"Sum of Risk\",\"func\":\"$sum\",\"options\":{}}],\"having\":[{\"field\":\"string\",\"op\":\"$eq\",\"value\":\"Rhea\",\"transform\":{\"transform\":\"$to_start_of_interval\",\"options\":{}},\"func\":\"$sum\",\"options\":{}}],\"sort\":{\"field\":\"string\",\"transform\":{\"transform\":\"$to_start_of_interval\",\"options\":{}},\"func\":\"$sum\",\"options\":{},\"order\":\"asc\"},\"results_size\":1}'"
                    }
                ]
            }
        }
    },
    "components": {
        "schemas": {
            "Address": {
                "type": "object",
                "required": [
                    "country_code"
                ],
                "properties": {
                    "line1": {
                        "type": "string",
                        "nullable": true,
                        "maxLength": 255,
                        "example": "60 Rausch Street"
                    },
                    "line2": {
                        "type": "string",
                        "maxLength": 255,
                        "nullable": true
                    },
                    "city": {
                        "type": "string",
                        "description": "Name of the city associated to this address.",
                        "maxLength": 255,
                        "nullable": true,
                        "example": "San Francisco"
                    },
                    "country_code": {
                        "type": "string",
                        "maxLength": 3,
                        "description": "ISO-3166 country code",
                        "nullable": true,
                        "example": "US"
                    },
                    "region_code": {
                        "type": "string",
                        "maxLength": 255,
                        "description": "ISO region code",
                        "nullable": true,
                        "example": "CA"
                    },
                    "postal_code": {
                        "type": "string",
                        "maxLength": 255,
                        "nullable": true,
                        "example": "94103"
                    },
                    "fingerprint": {
                        "type": "string",
                        "maxLength": 255,
                        "nullable": true,
                        "example": "8a33j2lir9"
                    }
                }
            },
            "AuthenticationMethod": {
                "type": "object",
                "required": [
                    "type"
                ],
                "example": {
                    "type": "$social",
                    "variant": "facebook"
                },
                "properties": {
                    "type": {
                        "$ref": "#/components/schemas/AuthenticationMethodType"
                    },
                    "variant": {
                        "type": "string",
                        "maxLength": 128
                    },
                    "email": {
                        "type": "string",
                        "format": "idn-email",
                        "description": "Used when `type` is `$email`"
                    },
                    "phone": {
                        "type": "string",
                        "format": "E.164",
                        "description": "Used when `type` is `$phone`"
                    }
                }
            },
            "AuthenticationMethodType": {
                "type": "string",
                "enum": [
                    "$authenticator",
                    "$biometrics",
                    "$email",
                    "$password",
                    "$phone",
                    "$push",
                    "$security_key",
                    "$social",
                    "$sso",
                    "$kba",
                    "$electronic_id",
                    "$physical_id",
                    "$document",
                    "$video",
                    "$other"
                ],
                "x-enumDescriptions": {
                    "$authenticator": "One time password, e.g. Google Authenticator.",
                    "$biometrics": "Apple FaceID/TouchID, Microsoft Hello, etc.",
                    "$document": "E.g. utility bill, bank statement, or proof of address.",
                    "$electronic_id": "Some countries have general eID in place while others integrate eVoting, eTax, eHealth and even public transport ticketing functionality. e.g. Swedish BankID, Danish NemID etc.",
                    "$email": "The individual is asked to provide an email address. You send a confirmation link or PIN code.",
                    "$kba": "A shared secret, for instance the user’s mother’s maiden name or favorite color.",
                    "$other": "Any other authentication method not defined as a default type.",
                    "$password": "Password based authentication.",
                    "$phone": "The individual is asked to provide a phone number. You send a confirmation PIN code over SMS or phone call.",
                    "$physical_id": "The individual is asked to submit a government ID such as a driver license, national ID, or passport.",
                    "$push": "E.g. mobile push notification",
                    "$security_key": "E.g. Yubikey, Google Titan",
                    "$social": "Authenticate in with Google, Facebook, Apple, etc.",
                    "$sso": "Authenticate via SAML, OpenID, e.g. Okta or Rippling",
                    "$video": "E.g. video call with support person"
                }
            },
            "AuthorType": {
                "type": "string",
                "enum": [
                    "$analyst_email",
                    "$castle_dashboard_user",
                    "$castle_policy",
                    "$user",
                    "$user_email",
                    "$other"
                ]
            },
            "Changeset": {
                "type": "object",
                "description": "An object containing information about attributes that changed due to the event. You can send either anonymous attributes (eg. to track password changes) or full attributes (eg. email changes). To simplify your implementation, Castle *automatically* tracks changes to name, email, and phone, however, if you have the `from` and `to` values at hand, you can also send the changeset yourself, which also allows you to specify changes a user’s password as well as any other custom attributes. Changes to custom attributes won’t be searchable in the dashboard, but they will appear in the event stream.",
                "maxProperties": 10,
                "properties": {
                    "password": {
                        "description": "Information that the password changed. Send this as `{ \"password\": { \"changed\": true } }`",
                        "$ref": "#/components/schemas/ChangedChangesetEntry"
                    },
                    "email": {
                        "description": "Email address change. You can also inform Castle that the email changed without sending the values explicitly: `{ \"email\": { \"changed\": true } }`",
                        "x-model-names": [
                            "ChangesetEntry",
                            "ChangedChangesetEntry"
                        ],
                        "oneOf": [
                            {
                                "$ref": "#/components/schemas/ChangedChangesetEntry"
                            },
                            {
                                "type": "object",
                                "required": [
                                    "from",
                                    "to"
                                ],
                                "properties": {
                                    "from": {
                                        "type": "string",
                                        "description": "Attribute value before the event."
                                    },
                                    "to": {
                                        "type": "string",
                                        "nullable": true,
                                        "description": "Attribute value after the event."
                                    }
                                }
                            }
                        ]
                    },
                    "phone": {
                        "description": "Phone number change. You can also inform Castle that the phone changed without sending the values explicitly: `{ \"phone\": { \"changed\": true } }`",
                        "x-model-names": [
                            "ChangesetEntry",
                            "ChangedChangesetEntry"
                        ],
                        "oneOf": [
                            {
                                "$ref": "#/components/schemas/ChangedChangesetEntry"
                            },
                            {
                                "type": "object",
                                "required": [
                                    "from",
                                    "to"
                                ],
                                "properties": {
                                    "from": {
                                        "type": "string",
                                        "nullable": true,
                                        "description": "Attribute value before the event."
                                    },
                                    "to": {
                                        "type": "string",
                                        "nullable": true,
                                        "description": "Attribute value after the event."
                                    }
                                }
                            }
                        ]
                    },
                    "authentication_method.type": {
                        "x-model-names": [
                            "ChangesetEntry",
                            "ChangedChangesetEntry"
                        ],
                        "oneOf": [
                            {
                                "$ref": "#/components/schemas/ChangedChangesetEntry"
                            },
                            {
                                "type": "object",
                                "description": "Change to MFA method. Both from and to can be null.",
                                "properties": {
                                    "from": {
                                        "$ref": "#/components/schemas/AuthenticationMethodType"
                                    },
                                    "to": {
                                        "$ref": "#/components/schemas/AuthenticationMethodType"
                                    }
                                }
                            }
                        ]
                    },
                    "name": {
                        "x-model-names": [
                            "ChangesetEntry",
                            "ChangedChangesetEntry"
                        ],
                        "oneOf": [
                            {
                                "$ref": "#/components/schemas/ChangedChangesetEntry"
                            },
                            {
                                "$ref": "#/components/schemas/ChangesetEntry"
                            }
                        ]
                    }
                },
                "additionalProperties": {
                    "x-model-names": [
                        "ChangesetEntry",
                        "ChangedChangesetEntry"
                    ],
                    "oneOf": [
                        {
                            "$ref": "#/components/schemas/ChangesetEntry"
                        },
                        {
                            "$ref": "#/components/schemas/ChangedChangesetEntry"
                        }
                    ]
                },
                "example": [
                    {
                        "password": {
                            "changed": true
                        },
                        "email": {
                            "from": "before@exmaple.com",
                            "to": "after@example.com"
                        },
                        "authentication_method.type": {
                            "from": "$authenticator",
                            "to": "$email"
                        },
                        "name": {
                            "from": null,
                            "to": "John Snow"
                        }
                    }
                ]
            },
            "ChangesetEntry": {
                "description": "Information that the attribute changed along with the changed values. Examples: `{ \"email\": { \"from\": \"a@example.com\", \"to\": \"b@example.com\" }`, `{ \"authentication_method.type\": { \"from\": null, \"to\": \"$push\" }`",
                "type": "object",
                "required": [
                    "from",
                    "to"
                ],
                "properties": {
                    "from": {
                        "type": "string",
                        "nullable": true,
                        "description": "Attribute value before the event",
                        "maxLength": 255
                    },
                    "to": {
                        "type": "string",
                        "nullable": true,
                        "description": "Attribute value after the event",
                        "maxLength": 255
                    }
                }
            },
            "ChangedChangesetEntry": {
                "description": "Information that the attribute changed along with the changed values. Examples: `{ \"password\": { \"changed\": true } }`",
                "type": "object",
                "required": [
                    "changed"
                ],
                "properties": {
                    "changed": {
                        "type": "boolean",
                        "enum": [
                            true
                        ]
                    }
                }
            },
            "Coordinates": {
                "type": "object",
                "required": [
                    "lat",
                    "lon"
                ],
                "properties": {
                    "lat": {
                        "type": "number",
                        "description": "Latitude coordinate",
                        "minimum": -90,
                        "maximum": 90
                    },
                    "lon": {
                        "type": "number",
                        "description": "Longitude coordinate",
                        "minimum": -180,
                        "maximum": 180
                    }
                }
            },
            "OrQueryFilter": {
                "type": "object",
                "required": [
                    "value",
                    "op"
                ],
                "properties": {
                    "op": {
                        "type": "string",
                        "enum": [
                            "$or"
                        ],
                        "example": "$or"
                    },
                    "value": {
                        "type": "array",
                        "x-discriminator-field": "op",
                        "minItems": 1,
                        "items": {
                            "type": "object",
                            "x-model-names": [
                                "QueryFilter",
                                "RangeQueryFilter",
                                "RelativeRangeQueryFilter",
                                "ExistsQueryFilter"
                            ],
                            "oneOf": [
                                {
                                    "$ref": "#/components/schemas/QueryFilter"
                                },
                                {
                                    "$ref": "#/components/schemas/RangeQueryFilter"
                                },
                                {
                                    "$ref": "#/components/schemas/RelativeRangeQueryFilter"
                                },
                                {
                                    "$ref": "#/components/schemas/ExistsQueryFilter"
                                }
                            ]
                        }
                    }
                }
            },
            "RangeQueryFilter": {
                "type": "object",
                "required": [
                    "field",
                    "op",
                    "value"
                ],
                "properties": {
                    "field": {
                        "type": "string",
                        "description": "Field name. Consult the [Events Schema API](/#operation/getEventSchema) for the list of available fields.",
                        "example": "name"
                    },
                    "op": {
                        "type": "string",
                        "enum": [
                            "$range"
                        ],
                        "example": "$range"
                    },
                    "value": {
                        "type": "object",
                        "properties": {
                            "gteq": {
                                "oneOf": [
                                    {
                                        "type": "string"
                                    },
                                    {
                                        "type": "number"
                                    }
                                ],
                                "x-types": {
                                    "isMultipleTypes": true,
                                    "values": [
                                        "str?",
                                        "int?",
                                        "float?"
                                    ]
                                }
                            },
                            "gt": {
                                "oneOf": [
                                    {
                                        "type": "string"
                                    },
                                    {
                                        "type": "number"
                                    }
                                ],
                                "x-types": {
                                    "isMultipleTypes": true,
                                    "values": [
                                        "str?",
                                        "int?",
                                        "float?"
                                    ]
                                }
                            },
                            "lteq": {
                                "oneOf": [
                                    {
                                        "type": "string"
                                    },
                                    {
                                        "type": "number"
                                    }
                                ],
                                "x-types": {
                                    "isMultipleTypes": true,
                                    "values": [
                                        "str?",
                                        "int?",
                                        "float?"
                                    ]
                                }
                            },
                            "lt": {
                                "oneOf": [
                                    {
                                        "type": "string"
                                    },
                                    {
                                        "type": "number"
                                    }
                                ],
                                "x-types": {
                                    "isMultipleTypes": true,
                                    "values": [
                                        "str?",
                                        "int?",
                                        "float?"
                                    ]
                                }
                            }
                        },
                        "example": {
                            "gt": 2,
                            "lt": 10
                        }
                    }
                }
            },
            "RelativeRangeQueryFilter": {
                "type": "object",
                "description": "It allows querying data for relative time, eq. events within the last 1 hour.",
                "example": {
                    "field": "created_at",
                    "value": {
                        "gt": 3600
                    },
                    "op": "$relative_range"
                },
                "required": [
                    "field",
                    "op",
                    "value"
                ],
                "properties": {
                    "field": {
                        "type": "string",
                        "description": "Field name. Consult the [Events Schema API](/#operation/getEventSchema) for the list of available fields.",
                        "example": "name"
                    },
                    "op": {
                        "type": "string",
                        "enum": [
                            "$relative_range"
                        ],
                        "example": "$relative_range"
                    },
                    "value": {
                        "type": "object",
                        "properties": {
                            "gteq": {
                                "type": "integer"
                            },
                            "gt": {
                                "type": "integer"
                            },
                            "lteq": {
                                "type": "integer"
                            },
                            "lt": {
                                "type": "integer"
                            }
                        },
                        "example": {
                            "gt": 3600
                        }
                    }
                }
            },
            "ExistsQueryFilter": {
                "type": "object",
                "required": [
                    "field",
                    "op"
                ],
                "properties": {
                    "field": {
                        "type": "string",
                        "example": "name",
                        "description": "Field name. Consult the [Events Schema API](/#operation/getEventSchema) for the list of available fields."
                    },
                    "op": {
                        "type": "string",
                        "enum": [
                            "$exists",
                            "$nexists"
                        ],
                        "example": "$exists"
                    }
                }
            },
            "GeoQueryFilter": {
                "type": "object",
                "required": [
                    "field",
                    "op",
                    "value"
                ],
                "properties": {
                    "field": {
                        "type": "string",
                        "description": "field name to filter on",
                        "example": "name"
                    },
                    "op": {
                        "type": "string",
                        "enum": [
                            "$geo"
                        ],
                        "example": "$geo"
                    },
                    "value": {
                        "x-model-names": [
                            "BoundingBoxFilter",
                            "GeoDistanceFilter"
                        ],
                        "oneOf": [
                            {
                                "$ref": "#/components/schemas/BoundingBoxFilter"
                            },
                            {
                                "$ref": "#/components/schemas/GeoDistanceFilter"
                            }
                        ]
                    }
                }
            },
            "BoundingBoxFilter": {
                "type": "object",
                "required": [
                    "top_left",
                    "bottom_right"
                ],
                "properties": {
                    "top_left": {
                        "$ref": "#/components/schemas/Coordinates"
                    },
                    "bottom_right": {
                        "$ref": "#/components/schemas/Coordinates"
                    }
                }
            },
            "GeoDistanceFilter": {
                "type": "object",
                "required": [
                    "distance",
                    "units",
                    "coordinates"
                ],
                "properties": {
                    "distance": {
                        "type": "number",
                        "minimum": 0,
                        "description": "Distance in radius from center point"
                    },
                    "units": {
                        "type": "string",
                        "description": "Units to filter geolocation by",
                        "enum": [
                            "mi",
                            "yd",
                            "km",
                            "m"
                        ]
                    },
                    "coordinates": {
                        "$ref": "#/components/schemas/Coordinates"
                    }
                }
            },
            "HavingQueryFilter": {
                "allOf": [
                    {
                        "$ref": "#/components/schemas/QueryFilter"
                    },
                    {
                        "$ref": "#/components/schemas/UnnamedColumn"
                    }
                ]
            },
            "OrHavingQueryFilter": {
                "type": "object",
                "required": [
                    "value",
                    "op"
                ],
                "properties": {
                    "op": {
                        "type": "string",
                        "enum": [
                            "$or"
                        ],
                        "example": "$or"
                    },
                    "value": {
                        "type": "array",
                        "x-discriminator-field": "op",
                        "minItems": 1,
                        "items": {
                            "type": "object",
                            "x-model-names": [
                                "HavingQueryFilter",
                                "RangeHavingQueryFilter",
                                "ExistsHavingQueryFilter"
                            ],
                            "oneOf": [
                                {
                                    "$ref": "#/components/schemas/HavingQueryFilter"
                                },
                                {
                                    "$ref": "#/components/schemas/RangeHavingQueryFilter"
                                },
                                {
                                    "$ref": "#/components/schemas/ExistsHavingQueryFilter"
                                }
                            ]
                        }
                    }
                }
            },
            "RangeHavingQueryFilter": {
                "allOf": [
                    {
                        "$ref": "#/components/schemas/RangeQueryFilter"
                    },
                    {
                        "$ref": "#/components/schemas/UnnamedColumn"
                    }
                ]
            },
            "RelativeRangeHavingQueryFilter": {
                "allOf": [
                    {
                        "$ref": "#/components/schemas/RelativeRangeQueryFilter"
                    },
                    {
                        "$ref": "#/components/schemas/UnnamedColumn"
                    }
                ]
            },
            "ExistsHavingQueryFilter": {
                "allOf": [
                    {
                        "$ref": "#/components/schemas/ExistsQueryFilter"
                    },
                    {
                        "$ref": "#/components/schemas/UnnamedColumn"
                    }
                ]
            },
            "GeoHavingQueryFilter": {
                "allOf": [
                    {
                        "$ref": "#/components/schemas/GeoQueryFilter"
                    },
                    {
                        "$ref": "#/components/schemas/UnnamedColumn"
                    }
                ]
            },
            "BaseQuery": {
                "type": "object",
                "required": [
                    "filters"
                ],
                "properties": {
                    "filters": {
                        "type": "array",
                        "x-discriminator-field": "op",
                        "items": {
                            "type": "object",
                            "x-model-names": [
                                "QueryFilter",
                                "RangeQueryFilter",
                                "RelativeRangeQueryFilter",
                                "ExistsQueryFilter",
                                "GeoQueryFilter",
                                "OrQueryFilter"
                            ],
                            "oneOf": [
                                {
                                    "$ref": "#/components/schemas/QueryFilter"
                                },
                                {
                                    "$ref": "#/components/schemas/RelativeRangeQueryFilter"
                                },
                                {
                                    "$ref": "#/components/schemas/RangeQueryFilter"
                                },
                                {
                                    "$ref": "#/components/schemas/ExistsQueryFilter"
                                },
                                {
                                    "$ref": "#/components/schemas/OrQueryFilter"
                                }
                            ]
                        }
                    },
                    "query_type": {
                        "type": "string",
                        "enum": [
                            "$count",
                            "$records",
                            "$records_with_count"
                        ],
                        "default": "$records_with_count",
                        "description": "The type of query to perform.\n\n- `$count` returns the number of records matching the query (`total_count` will be present and `data` will be empty)\n- `$records` returns the records matching the query (`total_count` will be 0)\n- `$records_with_count` returns the number of records matching the query and the records matching the query\n"
                    },
                    "page": {
                        "type": "integer",
                        "minimum": 1
                    }
                }
            },
            "QueryFilter": {
                "type": "object",
                "required": [
                    "field",
                    "op",
                    "value"
                ],
                "properties": {
                    "field": {
                        "type": "string",
                        "description": "Field name. Consult the [Events Schema API](/#operation/getEventSchema) for the list of available fields."
                    },
                    "op": {
[...]
